services:
  app:
    # build: .
    image: whatwewant/sqlchat:v1-1
    platform: linux/amd64
    ports:
      - 8080:8080
    environment:
      OPENAI_API_KEY: $OPENAI_API_KEY
      # HTTPS_PROXY: http://127.0.0.1:17890
